@model List<BookStore.Models.ThongKeHD>

@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAd.cshtml"; }

<!DOCTYPE html>

<html>
<head>
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
    <link href="~/Content/chude.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    @*@using (Html.BeginForm("Add","ChuDe",FormMethod.Post))
        {*@
    @*@{*@

    <h1 style="font-size: 50px;
    font-family: sans-serif;
    margin-top: 5px;
    text-decoration: underline;
    text-align: center">
        Thống Kê
    </h1>
    <form style="width:300px;height:200px;margin-left:73px;margin-top:10px" method="post" action="~/ThongKe/Xem">
        @*<label style="font-weight:bold">Năm :</label><br />*@

        <br />
        <br />
        @*<label style="font-weight:bold">Tổng tiền: @ViewBag.tong VNĐ</label>*@
        <br />
        <p style="color:red"></p>

    </form>
    @*}*@


    <br /><br />
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Năm</th>
                <th>Tháng</th>
                <th>Số lượng HĐ</th>
                <th>Tổng tiền</th>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @{ foreach (var item in Model)
                {
    <tr>
        <td>@item.Year</td>
        <td>@item.Month</td>
        <td>@item.SoLuongBill</td>
        <td>@item.TongTien</td>
        <td>
            <a href="@Url.Action("Detail",new { year = item.Year, month = item.Month })">Chi Tiết</a>
        </td>
    </tr>
 } }


        </tbody>
    </table>@*}*@

    @*<script src="~/scripts/jquery-1.8.0.min.js"></script>*@

    <script src="~/scripts/jquery.validate.min.js"></script>

    <script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>





